<!-- UserMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huangsikai.eventresspring.mapper.EmailMessageMapper">


    <!-- 新增消息 -->
    <insert id="addMessage">
        insert into t_emailMessage(uid,message,email,send_time,ver_time,ip,sender) values(#{uid},#{message},#{email},#{send_time},#{ver_time},#{ip},#{sender})
    </insert>

    <!-- 查询消息ByIp -->
    <select id="findMessageByIp" resultType="com.huangsikai.eventresspring.pojo.EmailMessage">
        select * from  t_emailMessage where ip = #{ip} and send_time > #{send_time}
    </select>

    <!-- 查询消息Byemail -->
    <select id="findMessageByEmail" resultType="com.huangsikai.eventresspring.pojo.EmailMessage">
        select * from  t_emailMessage where email = #{email}
    </select>

</mapper>
