<!-- UserMapper.xml -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huangsikai.eventresspring.mapper.HomeGridMapper">

    <select id="getHomeGridList" resultType="com.huangsikai.eventresspring.pojo.HomeGrid">
        select * from t_home_grid;
    </select>

    <select id="addHomeGrid" >
        insert into t_home_grid(title,image,action) values(#{title},#{image},#{action});
    </select>

    <delete id="delHomeGrid" >
        delete from t_home_grid where id = ${id};
    </delete>

    <update id="updateHomeGrid" >
        update  t_home_grid set
         title = #{title},image = #{image},action = #{action}
         where id = ${id}
    </update>


</mapper>
